<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.car.wash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Booking.CarWash"
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:label="Phone verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddLocationActivity" />
        <activity
            android:name=".Home"
            android:label="Home" />
        <activity
            android:name=".ContactActivity"
            android:label="Contact Us" />
        <activity android:name=".AddLocation.MainPage" />
        <activity android:name=".Booking.MakeBooking" />
        <activity android:name=".Booking_Client.Make_Booking" />
        <activity android:name=".AppBaseActivity"></activity>
    </application>

</manifest>